:root {
  --container-width: 1200px;

  --c-white: #fff;
  --c-black: #000;
  --c-grey: #cccccc;
  --c-green: #01b879;
  --c-primary: var(--c-green);
}

html,
body {
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
