<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Frontend boilerplate</h1>
  </body>
</html>
